services:
  pgsql:
    image: postgres:17.0
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppwd
      POSTGRES_DB: appdb
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U appuser -d appdb" ]
      interval: 2s
      timeout: 120s
      retries: 15
      start_period: 30s
    volumes:
      - postgresql_data:/var/lib/postgresql/data:Z

  redis:
    image: redis:8.2
    ports:
      - 6379:6379
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 2s
      timeout: 120s
      retries: 15
      start_period: 30s
#    volumes:
#      - redis_data:/data:Z

volumes:
  postgresql_data:
    driver: local

  redis_data:
    driver: local

