services:
  pgsql:
    image: postgres:17.0
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppwd
      POSTGRES_DB: appdb
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U appuser -d appdb" ]
      interval: 2s
      timeout: 120s
      retries: 15
      start_period: 30s
    volumes:
      - ./initial-data:/docker-entrypoint-initdb.d
      - postgresql_data:/var/lib/postgresql/data:Z

  redis:
    image: redis:8.2
    ports:
      - 6379:6379
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 2s
      timeout: 120s
      retries: 15
      start_period: 30s
#    volumes:
#      - redis_data:/data:Z

  app:
    image: seed-analysis:latest
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: pgsql
      REDIS_HOST: redis
    depends_on:
      pgsql:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - 80:8080

volumes:
  postgresql_data:
    driver: local

  redis_data:
    driver: local

